---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=secure2.upgrade-plan.apple.com.communistbless.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"biayanikahcok@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"cancel-order","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"","mix_result":"","get_photo":"on","get_vbv":"","get_email":"on","get_bank":"on","double_cc":"","onetime":"on","encrypt_html":"on","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"invoice","mix_email":"on"}'
  recorded_at: Wed, 06 Feb 2019 11:40:21 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=secure2.upgrade-plan.apple.com.communistbless.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"biayanikahcok@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"cancel-order","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"","mix_result":"","get_photo":"on","get_vbv":"","get_email":"on","get_bank":"on","double_cc":"","onetime":"on","encrypt_html":"on","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"invoice","mix_email":"on"}'
  recorded_at: Wed, 06 Feb 2019 11:40:21 GMT
- request:
    method: get
    uri: http://secure2.upgrade-plan.apple.com.communistbless.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /.config was not found on this server.</p>
        <p>Additionally, a 404 Not Found
        error was encountered while trying to use an ErrorDocument to handle the request.</p>
        </body></html>
  recorded_at: Wed, 06 Feb 2019 11:40:21 GMT
- request:
    method: get
    uri: https://secure2.upgrade-plan.apple.com.communistbless.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /.config was not found on this server.</p>
        <p>Additionally, a 404 Not Found
        error was encountered while trying to use an ErrorDocument to handle the request.</p>
        </body></html>
  recorded_at: Wed, 06 Feb 2019 11:40:23 GMT
- request:
    method: get
    uri: http://secure2.upgrade-plan.apple.com.communistbless.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://secure2.upgrade-plan.apple.com.communistbless.com/admin/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://secure2.upgrade-plan.apple.com.communistbless.com/admin/">here</a>.</p>
        </body></html>
  recorded_at: Wed, 06 Feb 2019 11:40:23 GMT
- request:
    method: get
    uri: http://secure2.upgrade-plan.apple.com.communistbless.com/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<!--===============================================================================================-->
        \ \n    <link rel=\"icon\" type=\"image/png\" href=\"images/icons/favicon.ico\"/>\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"vendor/bootstrap/css/bootstrap.min.css\">\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"fonts/font-awesome-4.7.0/css/font-awesome.min.css\">\n[...]
- request:
    method: get
    uri: https://secure2.upgrade-plan.apple.com.communistbless.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://secure2.upgrade-plan.apple.com.communistbless.com/admin/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://secure2.upgrade-plan.apple.com.communistbless.com/admin/">here</a>.</p>
        </body></html>
  recorded_at: Wed, 06 Feb 2019 11:40:25 GMT
- request:
    method: get
    uri: https://secure2.upgrade-plan.apple.com.communistbless.com/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"widt[...]
- request:
    method: get
    uri: http://secure2.upgrade-plan.apple.com.communistbless.com/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: <!--86b0676a80a51a710d37ac397ed3a1805fa3b65c--><!DOCTYPE HTML PUBLIC
        "-//IETF//DTD HTML 2.0//EN"><html><head><title>403 Forbidden</title></head><body><h1>Forbidden</h1><p>You
        dont have permission to access / on this server.</p></body></html>
  recorded_at: Wed, 06 Feb 2019 11:40:28 GMT
- request:
    method: get
    uri: https://secure2.upgrade-plan.apple.com.communistbless.com/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: <!--6d98bc56c639d533d49ec3609bcbae9937652827--><!DOCTYPE HTML PUBLIC
        "-//IETF//DTD HTML 2.0//EN"><html><head><title>403 Forbidden</title></head><body><h1>Forbidden</h1><p>You
        dont have permission to access / on this server.</p></body></html>
  recorded_at: Wed, 06 Feb 2019 11:40:31 GMT
recorded_with: VCR 4.0.0
