---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=movel-appleid.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"buat.kebutuhan@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"Brazil","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"on","mix_result":"","get_photo":"on","get_vbv":"","get_email":"on","get_bank":"","double_cc":"","onetime":"on","encrypt_html":"","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"invoice"}'
  recorded_at: Sun, 06 Jan 2019 01:33:05 GMT
recorded_with: VCR 4.0.0
