---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=aple.supportaccounts.websrcauthsummary.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"nampungbos@aple.acountinformations.authaction-process.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"_","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"on","mix_result":"","get_photo":"on","get_vbv":"on","get_email":"","get_bank":"on","double_cc":"","onetime":"on","encrypt_html":"on","block_host":"on","block_ua":"","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"classic","letter":"locked","mix_email":""}'
  recorded_at: Wed, 23 Jan 2019 22:01:56 GMT
recorded_with: VCR 4.0.0
