---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=appleid.apple.payments-center462.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"desember025@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"clasmild","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"","mix_result":"","get_photo":"","get_vbv":"","get_email":"","get_bank":"","double_cc":"","onetime":"","encrypt_html":"","block_host":"","block_ua":"","block_iprange":"","block_isp":"","block_vpn":"on","theme":"apple","letter":"invoice","mix_email":""}'
  recorded_at: Mon, 25 Feb 2019 22:15:08 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=appleid.apple.payments-center462.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"desember025@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"clasmild","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"","mix_result":"","get_photo":"","get_vbv":"","get_email":"","get_bank":"","double_cc":"","onetime":"","encrypt_html":"","block_host":"","block_ua":"","block_iprange":"","block_isp":"","block_vpn":"on","theme":"apple","letter":"invoice","mix_email":""}'
  recorded_at: Mon, 25 Feb 2019 22:15:09 GMT
recorded_with: VCR 4.0.0
