---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=apple-support.summarynewupdatereminder.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"mail@apple-support.summarynewupdatereminder.com","lock_platform":"","sender_mail":"mail@hotmail.com","site_parameter":"16shop","site_password":"16shop","site_param_on":"","site_pass_on":"on","send_login":"","mix_result":"","get_photo":"","get_vbv":"","get_email":"","get_bank":"","double_cc":"","onetime":"on","encrypt_html":"on","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"locked","mix_email":""}'
  recorded_at: Sun, 03 Feb 2019 04:33:14 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=apple-support.summarynewupdatereminder.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"mail@apple-support.summarynewupdatereminder.com","lock_platform":"","sender_mail":"mail@hotmail.com","site_parameter":"16shop","site_password":"16shop","site_param_on":"","site_pass_on":"on","send_login":"","mix_result":"","get_photo":"","get_vbv":"","get_email":"","get_bank":"","double_cc":"","onetime":"on","encrypt_html":"on","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"locked","mix_email":""}'
  recorded_at: Sun, 03 Feb 2019 04:33:15 GMT
recorded_with: VCR 4.0.0
