---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=secure2.upgrade-plan.apple.com.communistbless.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"biayanikahcok@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"cancel-order","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"","mix_result":"","get_photo":"on","get_vbv":"","get_email":"on","get_bank":"on","double_cc":"","onetime":"on","encrypt_html":"on","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"invoice","mix_email":"on"}'
  recorded_at: Wed, 06 Feb 2019 11:40:20 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=secure2.upgrade-plan.apple.com.communistbless.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"biayanikahcok@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"cancel-order","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"","mix_result":"","get_photo":"on","get_vbv":"","get_email":"on","get_bank":"on","double_cc":"","onetime":"on","encrypt_html":"on","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"invoice","mix_email":"on"}'
  recorded_at: Wed, 06 Feb 2019 11:40:20 GMT
recorded_with: VCR 4.0.0
