---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=login.xn--appleeidwebpss-083mzzo336gyblc.verificationalert03.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":null,"lock_platform":null,"sender_mail":null,"site_parameter":null,"site_password":null,"site_param_on":null,"site_pass_on":null,"send_login":null,"mix_result":null,"get_photo":null,"get_vbv":null,"get_email":null,"get_bank":null,"double_cc":null,"onetime":null,"encrypt_html":null,"block_host":null,"block_ua":null,"block_iprange":null,"block_isp":null,"block_vpn":null,"theme":null,"letter":null,"mix_email":null}'
  recorded_at: Tue, 29 Jan 2019 01:31:57 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=login.xn--appleeidwebpss-083mzzo336gyblc.verificationalert03.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":null,"lock_platform":null,"sender_mail":null,"site_parameter":null,"site_password":null,"site_param_on":null,"site_pass_on":null,"send_login":null,"mix_result":null,"get_photo":null,"get_vbv":null,"get_email":null,"get_bank":null,"double_cc":null,"onetime":null,"encrypt_html":null,"block_host":null,"block_ua":null,"block_iprange":null,"block_isp":null,"block_vpn":null,"theme":null,"letter":null,"mix_email":null}'
  recorded_at: Tue, 29 Jan 2019 01:31:57 GMT
recorded_with: VCR 4.0.0
