---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":null,"lock_platform":null,"sender_mail":null,"site_parameter":null,"site_password":null,"site_param_on":null,"site_pass_on":null,"send_login":null,"mix_result":null,"get_photo":null,"get_vbv":null,"get_email":null,"get_bank":null,"double_cc":null,"onetime":null,"encrypt_html":null,"block_host":null,"block_ua":null,"block_iprange":null,"block_isp":null,"block_vpn":null,"theme":null,"letter":null,"mix_email":null}'
  recorded_at: Sat, 26 Jan 2019 04:48:22 GMT
- request:
    method: get
    uri: http://example.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Content-type\" content=\"text/html;
        charset=utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <style type=\"text/css\">\n    body {\n        background-color:
        #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: \"Open
        Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n        \n    }\n
        \   div {\n        width: 600px;\n        margin: 5em auto;\n        padding:
        50px;\n        background-color: #fff;\n        border-radius: 1em;\n    }\n
        \   a:link, a:visited {\n        color: #38488f;\n        text-decoration:
        none;\n    }\n    @media (max-width: 700px) {\n        body {\n            background-color:
        #fff;\n        }\n        div {\n            width: auto;\n            margin:
        0 auto;\n            border-radius: 0;\n            padding: 1em;\n        }\n
        \   }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n
        \   <p>This domain is established to be used for illustrative examples in
        documents. You may use this\n    domain in examples without prior coordination
        or asking for permission.</p>\n    <p><a href=\"http://www.iana.org/domains/example\">More
        information...</a></p>\n</div>\n</body>\n</html>\n"
  recorded_at: Sat, 26 Jan 2019 04:48:22 GMT
- request:
    method: get
    uri: https://example.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Last-Modified:
      - Sun, 20 Jan 2019 18:30:39 GMT
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Content-type\" content=\"text/html;
        charset=utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <style type=\"text/css\">\n    body {\n        background-color:
        #f0f0f2;\n        margin: 0;\n        padding: 0;\n[...]
- request:
    method: get
    uri: http://example.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Last-Modified:
      - Thu, 24 Jan 2019 10:28:03 GMT
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Conten[...]
- request:
    method: get
    uri: https://example.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Last-Modified:
      - Thu, 24 Jan 2019 22:40:25 GMT
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Conte[...]
