---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=PhishTank%20OR%20OpenPhish%20OR%20CertStream-Suspicious?size=10000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17ea6-BhZ2BeZNKBc56xofQ63Zu9KEeuQ"
      X-Proxy-Cache:
      - STALE
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-01-23T21:29:01.410Z",
                "source": "openphish",
                "url": "http://choddiya.ml/hotls/newhotmail/Validation/login.php"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 17838,
                "encodedDataLength": 18531,
                "requests": 3
              },
              "page": {
                "country": "US",
                "server": "Apache",
                "city": "Chicago",
                "domain": "choddiya.ml",
                "ip": "65.52.197.120",
                "asnname": "MICROSOFT-CORP-MSN-AS-BLOCK - Microsoft Corporation, US",
                "asn": "AS8075",
                "url": "http://choddiya.ml/hotls/newhotmail/Validation/login.php",
                "ptr": ""
              },
              "uniq_countries": 1,
              "_id": "52c90216-f4df-4597-b71a-ecb7eaadceb4",
              "result": "https://urlscan.io/api/v1/result/52c90216-f4df-4597-b71a-ecb7eaadceb4"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-01-23T21:28:56.415Z",
                "source": "openphish",
                "url": "http://choddiya.ml/jcla/newhotmail/Validation/login.php"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "[...]
- request:
    method: get
    uri: http://ayashige.herokuapp.com/feed
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"domain":"10xfacebookads.com","score":83,"source":"WebAnalyzer","updated_on":"2019-01-21"},{"domain":"13googleplay.com","score":80,"source":"WebAnalyzer","updated_on":"2019-01-21"},{"domain":"911amazondeals.com","score":82,"source":"WebAnalyzer","updated_on":"2019-01-21"},{"domain":"aboutblockchain.net","score":92,"source":"WebAnalyzer","updated_on":"2019-01-21"},{"domain":"aiblockchain.info","score":110,"source":"WebAnalyzer","updated_on":"2019-01-21"},{"domain":"alert-netflix.net","score":116,"source":"WebAnalyzer","updated_on":"2019-01-21"},{"domain":"alibabapurchasin[...]
- request:
    method: get
    uri: https://openphish.com/feed.txt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Last-Modified:
      - Wed, 23 Jan 2019 21:00:03 GMT
      Etag:
      - '"5c48d5d3-33841"'
    body:
      encoding: ASCII-8BIT
      string: |
        http://choddiya.ml/hotls/newhotmail/Validation/login2.php?https://login.live.com/public/IdentifyUser.aspx?LOB=RBGLogon
        http://choddiya.ml/hotls/newhotmail/Validation/login.php
        http://choddiya.ml/jcla/newhotmail/Validation/login2.php?https://login.live.com/public/IdentifyUser.aspx?LOB=RBGLogon
        http://choddiya.ml/jcla/newhotmail/Validation/login.php
        http://necrofr.ml/accountupdate/chasescampage2018/home/
        http://necrofr.ml/accountupdate/chasescampage2018/home/myac[...]
