---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=PhishTank%20OR%20OpenPhish%20OR%20CertStream-Suspicious?size=10000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18fd6-quD4U7fvNgDzwF1PFbUkwoJm9vQ"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-01-15T22:37:43.717Z",
                "source": "openphish",
                "url": "http://inbaldavid.com/35/657688/322OneDrive-Couldi2731212/login.php?cmd=login_submit&id=e832cf096a3eaa44b59b830d6b148be2e832cf096a3eaa44b59b830d6b148be2&session=e832cf096a3eaa44b59b830d6b148be2e832cf096a3eaa44b59b830d6b148be2"
              },
              "stats": {
                "uniqIPs": 3,
                "consoleMsgs": 0,
                "dataLength": 246845,
                "encodedDataLength": 242692,
                "requests": 13
              },
              "page": {
                "country": "IL",
                "server": "nginx",
                "city": "",
                "domain": "inbaldavid.com",
                "ip": "5.100.249.241",
                "asnname": "PARTNER-AS, IL",
                "asn": "AS12400",
                "url": "http://inbaldavid.com/35/657688/322OneDrive-Couldi2731212/login.php?cmd=login_submit&id=e832cf096a3eaa44b59b830d6b148be2e832cf096a3eaa44b59b830d6b148be2&session=e832cf096a3eaa44b59b830d6b148be2e832cf096a3eaa44b59b830d6b148be2",
                "ptr": "srv2.linuxisrael.co.il"
              },
              "uniq_countries": 2,
              "_id": "1bf47982-cd41-4288-aaf8-c6c473fc8e5a",
              "result": "https://urlscan.io/api/v1/result/1bf47982-cd41-4288-aaf8-c6c473fc8e5a"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-01-15T22:37:38.710Z",
                "source": "openphish",
                "url": "http://www.daododofchahustlrerstarpoga.appspot.com/cbdse/"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
               [...]
- request:
    method: get
    uri: http://ayashige.herokuapp.com/feed
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"domain":"accessoryoverstocks.com","score":80,"source":"WhoisDS","updated_on":"2019-01-14"},{"domain":"alibabawishbook.live","score":80,"source":"WebAnalyzer","updated_on":"2019-01-14"},{"domain":"alibabaydc1.club","score":99,"source":"WebAnalyzer","updated_on":"2019-01-14"},{"domain":"amazon-adviceera.com","score":82,"source":"WebAnalyzer","updated_on":"2019-01-14"},{"domain":"amazon.ismartmobilelondon.uk","score":82,"source":"CT
        log","updated_on":"2019-01-14"},{"domain":"amazonbaski.com","score":80,"source":"WebAnalyzer","updated_on":"2019-01-14"},{"domain":"ama[...]
- request:
    method: get
    uri: https://openphish.com/feed.txt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Last-Modified:
      - Tue, 15 Jan 2019 22:00:03 GMT
      Etag:
      - '"5c3e57e3-2ffbf"'
    body:
      encoding: ASCII-8BIT
      string: |
        http://inbaldavid.com/35/657688/322OneDrive-Couldi2731212/login.php?cmd=login_submit&id=e832cf096a3eaa44b59b830d6b148be2e832cf096a3eaa44b59b830d6b148be2&session=e832cf096a3eaa44b59b830d6b148be2e832cf096a3eaa44b59b830d6b148be2
        http://www.daododofchahustlrerstarpoga.appspot.com/cbdse/
        https://drhjafqesw.com/modified/login/office/
        http://edrop-sms-re-fundsec3955637.com/cibc/cibcIndex.html
        http://edrop-sms-re-fundsec3955637.com/tangerine/index.html
        https://apexinsurancemanagement.com/check/imgs
        https://bbva-bancaonline.com/bbva/BBVA-RF094782/web-online.html
        https://bbva-bancaonline.com/bbva/BBVA-RF094782/clavier-online.html
        https://bbva-bancaonline.com/bbva/BBVA-RF094782/movilsms-online.html
        https://bbva-bancaonline.com/bbva/BBV[...]
