---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=PhishTank%20OR%20OpenPhish%20OR%20CertStream-Suspicious?size=5000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17efe-1GAmeDxJ43sD5aMK2q20gchNcoM"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-01-14T01:07:40.908Z",
                "source": "phishtank",
                "url": "http://37-128-61-20.static.ip.netia.com.pl/uebimiau/.tar/.lib/webapps/3ed85/websrc"
              },
              "stats": {
                "uniqIPs": 3,
                "consoleMsgs": 0,
                "dataLength": 509643,
                "encodedDataLength": 168266,
                "requests": 12
              },
              "page": {
                "country": "PL",
                "server": "Apache",
                "city": "Rajcza",
                "domain": "37-128-61-20.static.ip.netia.com.pl",
                "ip": "37.128.61.20",
                "asnname": "AS-NETIA Warszawa 02-822, PL",
                "asn": "AS12741",
                "url": "http://37-128-61-20.static.ip.netia.com.pl/uebimiau/.tar/.lib/webapps/3ed85/websrc",
                "ptr": "37-128-61-20.static.ip.netia.com.pl"
              },
              "uniq_countries": 2,
              "_id": "facb9823-f888-4f3e-81c8-7f1dddaa58ef",
              "result": "https://urlscan.io/api/v1/result/facb9823-f888-4f3e-81c8-7f1dddaa58ef"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-01-14T01:07:35.909Z",
                "source": "phishtank",
                "url": "http://37-128-61-20.static.ip.netia.com.pl/uebimiau/.tar/.lib/webapps/62a4c/websrc"
              },
              "stats": {
                "uniqIPs": 3,
                "console[...]
- request:
    method: get
    uri: http://ayashige.herokuapp.com/feed
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"domain":"123netflix.xyz","score":112,"source":"WebAnalyzer","updated_on":"2019-01-12"},{"domain":"agenciagoogleadwordscolombia.com","score":83,"source":"WhoisDS","updated_on":"2019-01-12"},{"domain":"alibaba-you.info","score":99,"source":"WhoisDS","updated_on":"2019-01-12"},{"domain":"alibabatmalltaobaokuaididaibaozhuangdaizi.com","score":82,"source":"WhoisDS","updated_on":"2019-01-12"},{"domain":"amazon-mortgages.com","score":82,"source":"WebAnalyzer","updated_on":"2019-01-12"},{"domain":"amazon-seminar.com","score":81,"source":"WebAnalyzer","updated_on":"2019-01-12[...]
- request:
    method: get
    uri: https://openphish.com/feed.txt
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Last-Modified:
      - Mon, 14 Jan 2019 01:00:03 GMT
      Etag:
      - '"5c3bdf13-2087f"'
    body:
      encoding: ASCII-8BIT
      string: |
        https://store2unlocked.com/_
        http://ope-tian-vd.com/wp/tax/taxb/bnc/National%20Bank%20Online.html
        https://pasardaihatsu.com/l/account-confirm/help/271c546b0506c2465bf417270/
        https://suitmancustoms.com/online/?country.x=NL&locale.x=en_NL%3E&client=896781fdf2950de107f6cc1d899cb690
        http://www.srglobalgroup.com/wp-content/plugins/contact-widgets/includes/Officedoc-october/
        http://www.2019mto.com/atb/questions.html
        http://www.2019mto.com/atb/index.html
        http://www.2019mto.com/cibc/questi[...]
