---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=PhishTank%20OR%20OpenPhish%20OR%20CertStream-Suspicious?size=5000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19834-f4csrP/U9v4L/Va3+wqgSWT7Kyg"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-01-06T00:36:09.466Z",
                "source": "openphish",
                "url": "https://inc-re.cf/fr/7394efaf56e8071b73e67739d3d359afZGFlZGZhNGRjZWM4NmQ2MmI5YTJhYmU5OWFjZDA0MTE=/myaccount/websc_login/?country.x=NL&locale.x=en_NL"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 140295,
                "encodedDataLength": 51386,
                "requests": 6
              },
              "page": {
                "country": "US",
                "server": "nginx",
                "city": "Waltham",
                "domain": "inc-re.cf",
                "ip": "147.135.234.171",
                "asnname": "OVH, FR",
                "asn": "AS16276",
                "url": "https://inc-re.cf/fr/7394efaf56e8071b73e67739d3d359afZGFlZGZhNGRjZWM4NmQ2MmI5YTJhYmU5OWFjZDA0MTE=/myaccount/websc_login/?country.x=NL&locale.x=en_NL",
                "ptr": "srv96.boondocks.life"
              },
              "uniq_countries": 1,
              "_id": "8141bf0c-4334-4238-966b-716ebee9da05",
              "result": "https://urlscan.io/api/v1/result/8141bf0c-4334-4238-966b-716ebee9da05"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-01-06T00:36:04.461Z",
                "source": "openphish",
                "url": "http://smac.gq/wp-includes/customize/bankofamerica/497bfb09/"
              },
              "stats": {
                "uniqIPs": 12,
                "consoleMsgs": 1,
                "dataLength": 3432126,
                "encodedDataLength": 864861,
                "requests": 89
              },
              "page": {
                "country": "FR",
                "server": "Apache",
                "city": "",
                "domain": "smac.gq",
                "ip": "193.70.65.220",
                "asnname": "OVH, FR",
                "asn": "AS16276",
                "url": "http://smac.gq/wp-includes/customize/bankofamerica/497bfb09/",
                "ptr": "odyssey.sikserver3.com"
              },
              "uniq_countries": 4,
              "_id": "74483bf1-274d-446a-a511-1526e6faece6",
              "result": "https://urlscan.io/api/v1/result/74483bf1-274d-446a-a511-1526e6faece6"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "options": {
                  "useragent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36"
                },
                "time": "2019-01-06T00:35:59.456Z",
                "source": "openphish",
                "url": "http://smac.gq/wp-includes/customize/bankofamerica/497bfb09/challengevdl.php?cmd=_account-details&session=ba86bc7aaab374f18c87c9f00f977dc4&dispatch=6f3d157461373957b22fd847da2cad04bad5c5c1"
              },
              "stats": {},
        [...]
- request:
    method: get
    uri: http://ayashige.herokuapp.com/feed
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"domain":"amazondelisi.com","score":81,"source":"WebAnalyzer","updated_on":"2019-01-02"},{"domain":"nttdocomo-smt-securitys.com","score":128,"source":"WebAnalyzer","updated_on":"2019-01-02"},{"domain":"amazon-webshop.com","score":83,"source":"WhoisDS","updated_on":"2019-01-04"},{"domain":"amazonappealservices.com","score":97,"source":"WhoisDS","updated_on":"2019-01-04"},{"domain":"amazonationph.com","score":80,"source":"WhoisDS","updated_on":"2019-01-04"},{"domain":"amazonchimevideo.com","score":82,"source":"WhoisDS","updated_on":"2019-01-04"},{"domain":"amazonczpestco[...]
