---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=verify.myaccount.apple.id.webapps-servticket.ut1837.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"amunisinyahades@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"\u00a3ervice","site_password":"\u00a3ervice","site_param_on":"on","site_pass_on":"","send_login":"on","mix_result":"","get_photo":"on","get_vbv":"on","get_email":"","get_bank":"on","double_cc":"on","onetime":"on","encrypt_html":"","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"verify","mix_email":""}'
  recorded_at: Tue, 29 Jan 2019 01:25:54 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=verify.myaccount.apple.id.webapps-servticket.ut1837.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"amunisinyahades@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"\u00a3ervice","site_password":"\u00a3ervice","site_param_on":"on","site_pass_on":"","send_login":"on","mix_result":"","get_photo":"on","get_vbv":"on","get_email":"","get_bank":"on","double_cc":"on","onetime":"on","encrypt_html":"","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"verify","mix_email":""}'
  recorded_at: Tue, 29 Jan 2019 01:25:54 GMT
- request:
    method: get
    uri: http://verify.myaccount.apple.id.webapps-servticket.ut1837.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /.config was not found on this server.</p>
        <p>Additionally, a 404 Not Found
        error was encountered while trying to use an ErrorDocument to handle the request.</p>
        </body></html>
  recorded_at: Tue, 29 Jan 2019 01:25:55 GMT
- request:
    method: get
    uri: https://verify.myaccount.apple.id.webapps-servticket.ut1837.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /.config was not found on this server.</p>
        <p>Additionally, a 404 Not Found
        error was encountered while trying to use an ErrorDocument to handle the request.</p>
        </body></html>
  recorded_at: Tue, 29 Jan 2019 01:25:56 GMT
- request:
    method: get
    uri: http://verify.myaccount.apple.id.webapps-servticket.ut1837.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://verify.myaccount.apple.id.webapps-servticket.ut1837.com/admin/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://verify.myaccount.apple.id.webapps-servticket.ut1837.com/admin/">here</a>.</p>
        </body></html>
  recorded_at: Tue, 29 Jan 2019 01:25:56 GMT
- request:
    method: get
    uri: http://verify.myaccount.apple.id.webapps-servticket.ut1837.com/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<!--===============================================================================================-->
        \ \n    <link rel=\"icon\" type=\"image/png\" href=\"images/icons/favicon.ico\"/>\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"vendor/bootstrap/css/bootstrap.min.css\">\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"fonts/font-awesome-4.7.0/css/font-awesome.min.css\">\n[...]
- request:
    method: get
    uri: https://verify.myaccount.apple.id.webapps-servticket.ut1837.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://verify.myaccount.apple.id.webapps-servticket.ut1837.com/admin/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://verify.myaccount.apple.id.webapps-servticket.ut1837.com/admin/">here</a>.</p>
        </body></html>
  recorded_at: Tue, 29 Jan 2019 01:25:57 GMT
- request:
    method: get
    uri: https://verify.myaccount.apple.id.webapps-servticket.ut1837.com/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=[...]
