---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=apple-support.summarynewupdatereminder.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"mail@apple-support.summarynewupdatereminder.com","lock_platform":"","sender_mail":"mail@hotmail.com","site_parameter":"16shop","site_password":"16shop","site_param_on":"","site_pass_on":"on","send_login":"","mix_result":"","get_photo":"","get_vbv":"","get_email":"","get_bank":"","double_cc":"","onetime":"on","encrypt_html":"on","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"locked","mix_email":""}'
  recorded_at: Sun, 03 Feb 2019 04:33:18 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=apple-support.summarynewupdatereminder.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"mail@apple-support.summarynewupdatereminder.com","lock_platform":"","sender_mail":"mail@hotmail.com","site_parameter":"16shop","site_password":"16shop","site_param_on":"","site_pass_on":"on","send_login":"","mix_result":"","get_photo":"","get_vbv":"","get_email":"","get_bank":"","double_cc":"","onetime":"on","encrypt_html":"on","block_host":"on","block_ua":"on","block_iprange":"on","block_isp":"on","block_vpn":"on","theme":"apple","letter":"locked","mix_email":""}'
  recorded_at: Sun, 03 Feb 2019 04:33:18 GMT
- request:
    method: get
    uri: http://apple-support.summarynewupdatereminder.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /.config was not found on this server.</p>
        <p>Additionally, a 404 Not Found
        error was encountered while trying to use an ErrorDocument to handle the request.</p>
        </body></html>
  recorded_at: Sun, 03 Feb 2019 04:33:18 GMT
- request:
    method: get
    uri: https://apple-support.summarynewupdatereminder.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /.config was not found on this server.</p>
        <p>Additionally, a 404 Not Found
        error was encountered while trying to use an ErrorDocument to handle the request.</p>
        </body></html>
  recorded_at: Sun, 03 Feb 2019 04:33:19 GMT
- request:
    method: get
    uri: http://apple-support.summarynewupdatereminder.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://apple-support.summarynewupdatereminder.com/admin/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://apple-support.summarynewupdatereminder.com/admin/">here</a>.</p>
        </body></html>
  recorded_at: Sun, 03 Feb 2019 04:33:19 GMT
- request:
    method: get
    uri: http://apple-support.summarynewupdatereminder.com/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<!--===============================================================================================-->
        \ \n    <link rel=\"icon\" type=\"image/png\" href=\"images/icons/favicon.ico\"/>\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"vendor/bootstrap/css/bootstrap.min.css\">\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"fonts/font-awesome-4.7.0/css/font-awesome.min.css\">\n[...]
- request:
    method: get
    uri: https://apple-support.summarynewupdatereminder.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://apple-support.summarynewupdatereminder.com/admin/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://apple-support.summarynewupdatereminder.com/admin/">here</a>.</p>
        </body></html>
  recorded_at: Sun, 03 Feb 2019 04:33:19 GMT
- request:
    method: get
    uri: https://apple-support.summarynewupdatereminder.com/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=devic[...]
