---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=icloud-applesecurity.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":null,"lock_platform":null,"sender_mail":null,"site_parameter":null,"site_password":null,"site_param_on":null,"site_pass_on":null,"send_login":null,"mix_result":null,"get_photo":null,"get_vbv":null,"get_email":null,"get_bank":null,"double_cc":null,"onetime":null,"encrypt_html":null,"block_host":null,"block_ua":null,"block_iprange":null,"block_isp":null,"block_vpn":null,"theme":null,"letter":null,"mix_email":null}'
  recorded_at: Wed, 06 Feb 2019 11:40:50 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=icloud-applesecurity.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":null,"lock_platform":null,"sender_mail":null,"site_parameter":null,"site_password":null,"site_param_on":null,"site_pass_on":null,"send_login":null,"mix_result":null,"get_photo":null,"get_vbv":null,"get_email":null,"get_bank":null,"double_cc":null,"onetime":null,"encrypt_html":null,"block_host":null,"block_ua":null,"block_iprange":null,"block_isp":null,"block_vpn":null,"theme":null,"letter":null,"mix_email":null}'
  recorded_at: Wed, 06 Feb 2019 11:40:50 GMT
- request:
    method: get
    uri: http://icloud-applesecurity.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 03 Feb 2019 03:52:10 GMT
      Content-Type:
      - application/octet-stream
    body:
      encoding: ASCII-8BIT
      string: "                                                                                                                                                                                                                                                                                                                                                                    [...]
- request:
    method: get
    uri: https://icloud-applesecurity.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 03 Feb 2019 03:52:10 GMT
      Content-Type:
      - application/octet-stream
    body:
      encoding: ASCII-8BIT
      string: "                                                                                                                              [...]
- request:
    method: get
    uri: http://icloud-applesecurity.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - http://icloud-applesecurity.com/admin/
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html style=\"height:100%\">\n<head><title> 301 Moved
        Permanently\r\n</title></head>\n<body style=\"color: #444; margin:0;font:
        normal 14px/20px Arial, Helvetica, sans-serif; height:100%; background-color:
        #fff;\">\n<div style=\"height:auto; min-height:100%; \">     <div style=\"text-align:
        center; width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%;\">\n
        \       <h1 style=\"margin:0; font-size:150px; line-height:150px; font-weight:bold;\">301</h1>\n<h2
        style=\"margin-top:20px;font-size: 30px;\">Moved Permanently\r\n</h2>\n<p>The
        document has been permanently moved.</p>\n</div></div></body></html>\n"
  recorded_at: Wed, 06 Feb 2019 11:40:53 GMT
- request:
    method: get
    uri: http://icloud-applesecurity.com/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<!--===============================================================================================-->
        \ \n    <link rel=\"icon\" type=\"image/png\" href=\"images/icons/favicon.ico\"/>\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"vendor/bootstrap/css/bootstrap.min.css\">\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"fonts/font-awesome-4.7.0/css/font-awesome.min.css\">\n[...]
- request:
    method: get
    uri: https://icloud-applesecurity.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://icloud-applesecurity.com/admin/
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html style=\"height:100%\">\n<head><title> 301 Moved
        Permanently\r\n</title></head>\n<body style=\"color: #444; margin:0;font:
        normal 14px/20px Arial, Helvetica, sans-serif; height:100%; background-color:
        #fff;\">\n<div style=\"height:auto; min-height:100%; \">     <div style=\"text-align:
        center; width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%;\">\n
        \       <h1 style=\"margin:0; font-size:150px; line-height:150px; font-weight:bold;\">301</h1>\n<h2
        style=\"margin-top:20px;font-size: 30px;\">Moved Permanently\r\n</h2>\n<p>The
        document has been permanently moved.</p>\n</div></div></body></html>\n"
  recorded_at: Wed, 06 Feb 2019 11:40:55 GMT
- request:
    method: get
    uri: https://icloud-applesecurity.com/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        i[...]
