---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=www.appleservices-access-customers.com.renewsingin.info
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":null,"lock_platform":null,"sender_mail":null,"site_parameter":null,"site_password":null,"site_param_on":null,"site_pass_on":null,"send_login":null,"mix_result":null,"get_photo":null,"get_vbv":null,"get_email":null,"get_bank":null,"double_cc":null,"onetime":null,"encrypt_html":null,"block_host":null,"block_ua":null,"block_iprange":null,"block_isp":null,"block_vpn":null,"theme":null,"letter":null,"mix_email":null}'
  recorded_at: Mon, 28 Jan 2019 10:17:49 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=www.appleservices-access-customers.com.renewsingin.info
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":null,"lock_platform":null,"sender_mail":null,"site_parameter":null,"site_password":null,"site_param_on":null,"site_pass_on":null,"send_login":null,"mix_result":null,"get_photo":null,"get_vbv":null,"get_email":null,"get_bank":null,"double_cc":null,"onetime":null,"encrypt_html":null,"block_host":null,"block_ua":null,"block_iprange":null,"block_isp":null,"block_vpn":null,"theme":null,"letter":null,"mix_email":null}'
  recorded_at: Mon, 28 Jan 2019 10:17:49 GMT
- request:
    method: get
    uri: http://www.appleservices-access-customers.com.renewsingin.info/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 26 Jan 2019 20:51:47 GMT
      Etag:
      - '"5bd-580629cb483bd"'
    body:
      encoding: ASCII-8BIT
      string: "                                                                                                                                                                                                                                                                                                                                                                                                                                 [...]
- request:
    method: get
    uri: https://www.appleservices-access-customers.com.renewsingin.info/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 26 Jan 2019 20:51:47 GMT
      Etag:
      - '"5bd-580629cb483bd"'
    body:
      encoding: ASCII-8BIT
      string: "                                                                                                          [...]
- request:
    method: get
    uri: http://www.appleservices-access-customers.com.renewsingin.info/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://www.appleservices-access-customers.com.renewsingin.info/admin/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://www.appleservices-access-customers.com.renewsingin.info/admin/">here</a>.</p>
        <hr>
        <address>Apache/2.4.37 (cPanel) OpenSSL/1.0.2q mod_bwlimited/1.4 Server at www.appleservices-access-customers.com.renewsingin.info Port 80</address>
        </body></html>
  recorded_at: Mon, 28 Jan 2019 10:17:50 GMT
- request:
    method: get
    uri: http://www.appleservices-access-customers.com.renewsingin.info/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<!--===============================================================================================-->
        \ \n    <link rel=\"icon\" type=\"image/png\" href=\"images/icons/favicon.ico\"/>\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"vendor/bootstrap/css/bootstrap.min.css\">\n<!--===============================================================================================-->\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"fonts/font-awesome-4.7.0/css/font-awesome.min.css\">\n[...]
- request:
    method: get
    uri: https://www.appleservices-access-customers.com.renewsingin.info/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.appleservices-access-customers.com.renewsingin.info/admin/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://www.appleservices-access-customers.com.renewsingin.info/admin/">here</a>.</p>
        <hr>
        <address>Apache/2.4.37 (cPanel) OpenSSL/1.0.2q mod_bwlimited/1.4 Server at www.appleservices-access-customers.com.renewsingin.info Port 443</address>
        </body></html>
  recorded_at: Mon, 28 Jan 2019 10:17:51 GMT
- request:
    method: get
    uri: https://www.appleservices-access-customers.com.renewsingin.info/admin/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>16Shop - Admin
        Panel</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=[...]
