---
http_interactions:
- request:
    method: post
    uri: http://16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=appleid.apple.payments-center462.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"desember025@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"clasmild","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"","mix_result":"","get_photo":"","get_vbv":"","get_email":"","get_bank":"","double_cc":"","onetime":"","encrypt_html":"","block_host":"","block_ua":"","block_iprange":"","block_isp":"","block_vpn":"on","theme":"apple","letter":"invoice","mix_email":""}'
  recorded_at: Mon, 25 Feb 2019 22:15:10 GMT
- request:
    method: post
    uri: http://server2.16shop.online/api/setting/get_setting.php
    body:
      encoding: UTF-8
      string: domain=appleid.apple.payments-center462.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"email_result":"desember025@yandex.com","lock_platform":"","sender_mail":"admin@16digit.shop","site_parameter":"clasmild","site_password":"16shop","site_param_on":"on","site_pass_on":"","send_login":"","mix_result":"","get_photo":"","get_vbv":"","get_email":"","get_bank":"","double_cc":"","onetime":"","encrypt_html":"","block_host":"","block_ua":"","block_iprange":"","block_isp":"","block_vpn":"on","theme":"apple","letter":"invoice","mix_email":""}'
  recorded_at: Mon, 25 Feb 2019 22:15:10 GMT
- request:
    method: get
    uri: http://appleid.apple.payments-center462.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html style=\"height:100%\">\n<head><title> 404 Not
        Found\r\n</title></head>\n<body style=\"color: #444; margin:0;font: normal
        14px/20px Arial, Helvetica, sans-serif; height:100%; background-color: #fff;\">\n<div
        style=\"height:auto; min-height:100%; \">     <div style=\"text-align: center;
        width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%;\">\n
        \       <h1 style=\"margin:0; font-size:150px; line-height:150px; font-weight:bold;\">404</h1>\n<h2
        style=\"margin-top:20px;font-size: 30px;\">Not Found\r\n</h2>\n<p>The resource
        requested could not be found on this server!</p>\n</div></div><div style=\"color:#f0f0f0;
        font-size:12px;margin:auto;padding:0px 30px 0px 30px;position:relative;clear:both;height:100px;margin-top:-101px;background-color:#474747;border-top:
        1px solid rgba(0,0,0,0.15);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;\">\n<br>Proudly
        powered by  <a style=\"color:#fff;\" href=\"http://www.litespeedtech.com/error-page\">LiteSpeed
        Web Server</a><p>Please be advised that LiteSpeed Technologies Inc. is not
        a web hosting company and, as such, has no control over content found on this
        site.</p></div></body></html>\n"
  recorded_at: Mon, 25 Feb 2019 22:15:11 GMT
- request:
    method: get
    uri: https://appleid.apple.payments-center462.com/.config
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html style=\"height:100%\">\n<head><title> 404 Not
        Found\r\n</title></head>\n<body style=\"color: #444; margin:0;font: normal
        14px/20px Arial, Helv[...]
- request:
    method: get
    uri: http://appleid.apple.payments-center462.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html style=\"height:100%\">\n<head><title> 404 Not
        Found\r\n</title></head>\n<body style=\"color: #444; margin:0;font: normal
        14px/20px Arial, Helveti[...]
- request:
    method: get
    uri: https://appleid.apple.payments-center462.com/admin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html style=\"height:100%\">\n<head><title> 404 Not
        Found\r\n</title></head>\n<body style=\"color: #444; margin:0;font: normal
        14px/20px Arial, Helvet[...]
